
.head-info{
    display: flex;
    gap: 30px;

}
.soc-hd{
    display: flex;
}
#soc{
    /*margin-left: 550px;*/
    margin-top: 10px;
}
.info-text p{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;
}
.footer {
    font-size: .9em;
}

.privacy a{
    list-style-type: none;
    color: black;
    font-size: 12px;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.privacy{
    margin-top: 40px;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 500px){
    .mobile div {
        display: flex;
        gap: 4px;
        margin-top:-3px;
        margin-left: -30px;
    }
    /*.main-fon{*/
    /*    margin-right: 0px;*/
    /*}*/
    .head-info li{
        display: none;
    }
    .head-info {
        display: none;
        margin-left: 0;
    }

    .img-h{
        width: 150px;
    }
    .img-i{
        display: none;
    }
    .img-v{
        width: 20px;
        padding-top: 5px;
    }
    .img-t{
        width: 15px;
        padding-top: 3px;
    }
    .img-w{
        width: 15px;
        padding-top: 3px;
    }
    .privacy{
        margin-top: -5px;
        order: 3;
        padding-top: 5px;
        margin-bottom: 10px;
        margin-left: 40px;
    }
    .info-text{
        font-size: 18px;
    }
    .p-4{
        text-align: left;
        margin-top: -50px;
        margin-left: 60px;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .footer-info p{
        font-size: 16px;
    }
    .footer-about{
        margin-top: 15px;
    }
    .social{
        display: none;
    }
    .p-4{
        padding-right: 0;
    }
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.form-group {
    margin-bottom: 1rem;
}
.menu-item {
    font-size: 15px;
}